---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

{% set postslist = search.pages("type=posts", "date=desc") %}

{% include "templates/postslist.njk" %}

<hr>

<p>More posts can be found in <a href="/posts/">the archive</a>.</p>
