---
layout: layouts/base.njk
bodyClass: body-post
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>

    <nav class="post-tags">
    {% for tag in tags %}
      <a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a>
    {% endfor %}
    </nav>

    <p>
      {% if author %}
        <span class="post-info">By {{ author }}</span>
      {% endif %}
      <time class="post-info" datetime="{{ date | date('DATETIME') }}">
        {{ date | date('HUMAN_DATE') }}
      </time>
    </p>

    <section class="post-secondary-info">
      {%- if cookTime %}
      <div>Cook time: {{ cookTime }}</div>
      {% endif %}

      {%- if servings %}
      <div>Serves: {{ servings }}</div>
      {% endif %}
    </section>
  </header>

  <div class="post-body">
    {{ content | safe }}
  </div>
</article>

<hr>

<nav class="post-navigation">
  <ul>
    {%- set previousPost = search.previousPage(url, "type=recipes") %}
    {%- if previousPost %}
    <li>
      ← Previous: <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
    </li>
    {% endif %}

    {%- set nextPost = search.nextPage(url, "type=recipes") %}
    {%- if nextPost %}
    <li>
      <strong>Next: <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a> →</strong>
    </li>
    {% endif %}
  </ul>
</nav>